<% include ../partials/header %>

<h1>Login</h1>

<form action="/users/login" method="post">
	Email: <br><input type="text" name="email"> <br><br>
	Passowrd:<br><input type="password" name="password"> <br><br>
	<br><input type="submit" value="Submit">
</form>

<a href="/users/register">Need an account?</a>