<% include ../partials/header %>

<h3>Posts</h3>

<ul>
<% posts.forEach((post) => { %>
	<li>
		<a href=<%= `posts/show/${post._id}`%>><h3><%= post.title %></h3><i>posted: <%= post.created %></i></a>
		
	</li>
<% })%>
</ul>